In [1]:
print("hello world")

hello world

In [3]:
print("my name is rahul rajput")

my name is rahul rajput

In [6]:
import sys
print(sys.version)

3.12.4 (tags/v3.12.4:8e8a4ba, Jun  6 2024, 19:30:16) [MSC v.1940 64 bit (AMD64)]

# TYPES OF THE OBJECT IN PYTHON

 __1__. __WORD = STRING (CAN BE DENOTED BY " " & ' ')__
 
  __2__. __NUMBER = INTEGER AND FLOAT__

 - INTERGER VALUE= -1,-2,-3,0,1,2,3
   
 - FLOAT VALUE= 1.25,2.25

 - STRING= "HELLO WORLD"

 ###  You can get Python to tell you the type of an expression by using the built-in type() function. You'll notice that Python refers to integers as int, floats as float, and character strings as str.

In [6]:
A= 12
print(type(A))

<class 'int'>

In [8]:
b=12.65
print(type(b))

<class 'float'>

In [9]:
c= 'my name is rahul'
print(type(c))

<class 'str'>

# In the code cell below, use the type() function to check the object type of 12.0

In [10]:
type(12.0)

float

# example of the integer

In [15]:
type(-1)

int

In [16]:
type(4)

int

In [17]:
type(0)

int

# example of the float

### Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of sys.float_info. This will also tell you what's the largest and smallest number that can be represented with them.

In [19]:
type(1.0)

float

In [20]:
type(0.5)

float

In [21]:
type(05.6)

float

In [22]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# Converting from one object type to a different object type

## You can change the type of the object in Python; __this is called typecasting__

In [24]:
# Verify that this is an integer
print(type(2))

<class 'int'>

In [34]:
 ### Converting integers to floats
print(float(2))
print(type(float(2)))

2.0
<class 'float'>

In [36]:
 ### Converting float to integers (we loose some information)
print(int(1.22))
print(type(int(1.22)))

1
<class 'int'>

 # Converting from strings to integers or floats

In [37]:
int('2')

2

In [38]:
float('2.23')

2.23

### Note: that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2').

# Converting numbers to strings

In [40]:
# convert int to str
str(1)

'1'

In [41]:
# convert float to str
str(2.23)

'2.23'

# Boolean data type
## Boolean is another important type in Python. 
### An object of type Boolean can take on one of two values: True or False
# T & F must be in capital latter.

In [42]:
type(True)

bool

In [43]:
type(False)

bool

 ## We can cast boolean objects to other data types.
 ### If we cast a boolean with a value of True to an integer or float we will get a one. 
 ### If we cast a boolean with a value of False to an integer or float we will get a zero. 
 ### If we cast a 1 to a Boolean, you get a True. 
 ### If we cast a 0 to a Boolean we will get a False.

In [51]:
 # # Convert True to int
 int(True)

1

In [57]:
 # # Convert False to int
int(False)

0

In [58]:
 # # Convert True to float
float(True)

1.0

In [59]:
 # # Convert False to float
float(False)

0.0

In [46]:
bool(1)

True

In [47]:
bool(0)

False

# Exercise

## What is the data type of the result of: 6 / 2?

In [60]:
type(6/2)

float

# What is the data type of the result of: 6 // 2?

In [61]:
type(6//2)

int

# What is the type of the result of: "hello" == "world"

In [62]:
type("hello" == "world")

bool

# Write the code to convert the following number representing employeeid "1001" to an integer

In [64]:
int("1001")

1001

# Write the code to convert this number representing financial value "1234.56" to a floating point number

In [65]:
float("1234.56")

1234.56

# Write the code to convert this phone number 123-456-7890 to a string

In [67]:
str('123-456-7890')

'123-456-7890'